body {
    background-image: url("./images/fullpageinage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100%;
}

.topbar {
    background-color: rgba(226, 218, 202, 0.433);
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-left: 6px;
    padding-right: 6px;
    height: 70px;
}

.divtopbar {
    display: flex;
    align-items: center;
    gap: 10px;  
}

img {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.symbol {
    font-size: 20px;
    padding: 0px 11px;
    color: rgb(183, 176, 176);
    background-color: rgba(222, 219, 213, 0.722);
    border-radius: 3px;
    font-family: cursive;
}

#mainsymbol {
    font-size: 20px;
    color: rgb(183, 176, 176);
    font-family: cursive;
}

#mainh1 {
    color: rgb(183, 176, 176);
    font-family: cursive;
}

#input {
    background-color: rgba(222, 219, 213, 0.722);
    border-color: rgba(222, 219, 213, 0.722);
    height: 25px;
    border-radius: 5px;
}

.secondtopbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-left: 6px;
    padding-right: 6px;
    height: 70px;
    gap: 15px;
    font-family: sans-serif;
    color: rgb(183, 176, 176);
}

.colorbox1{
    background-color: blue;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorbox2{
    background-color: red;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorbox3{
    background-color: purple;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorbox4{
    background-color: yellow;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorbox5{
    background-color: pink;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorbox6{
    background-color: green;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorbox7{
    background-color: orange;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorbox8{
    background-color: brown;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorbox9{
    background-color: gray;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorbox10{
    background-color: turquoise;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorbox11{
    background-color: blueviolet;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorbox12{
    background-color: darkred;
    height: 6px;
    width: 25px;
    border-radius: 3px;
    margin: 0;
}

.colorboxflex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

.divcolum {
    width: 25%;
    background-color: rgba(225, 219, 219, 0.792);
}



.greylink {
    background-color: rgba(94, 89, 89, 0.751);
    height: 3px;
    width: 10px;
    border-radius: 3px;
    margin: 1px;
}

.shortgreylink {
    background-color: rgba(94, 89, 89, 0.751);
    height: 3px;
    width: 5px;
    border-radius: 3px;
    margin: 1px;
}





